{% extends 'base.html' %} {% block body %}

<div class="container my-3">
  <h2>Update your Todo</h2>
  <form action="/update/{{todo.sno}}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        value="{{todo.title}}"
        id="title"
        name="title"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Desc</label>
      <input
        type="text"
        class="form-control"
        value="{{todo.desc}}"
        name="desc"
        id="desc"
      />
    </div>
    <button type="submit" class="btn btn-outline-dark">Update</button>
  </form>
</div>
{% endblock body %}
